DJANGO_SECRET_KEY=change-me
DB_ENGINE=django.db.backends.postgresql
DB_NAME=smart_rh
DB_USER=smart_rh
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173
CORS_ALLOW_CREDENTIALS=true
JWT_ACCESS_TOKEN_MINUTES=30
JWT_REFRESH_TOKEN_DAYS=1
